// Fonts
$--sans-serif:  var(--sans-serif);
$--serif:       var(--serif);
$--mono:        var(--mono);

// Font size
$font-size-base:    clamp(1rem, calc(0.96rem + 0.18vw), 1.125rem);
$h1-font-size:      clamp(1.75rem, calc(1.39rem + 1.79vw), 3rem);
$h2-font-size:      clamp(1.5rem, calc(1.29rem + 1.07vw), 2.25rem);

// Spacing
$list-inline-padding: .5rem !default;
$header-height: 70px;

// Breakpoints (Desktop-first, using maximum values)
$sm: 650px;
$md: 1000px;
$lg: 1400px;

// layout
$section-margin-top: 100px;
$section-margin-bottom: 200px;

// Theme

// Link Sass and CSS variables
$--theme-primary: --theme-primary;
$--theme-secondary: --theme-secondary;
$--theme-tertiary: --theme-tertiary;
$--theme-surface: --theme-surface;
$--theme-background: --theme-background;
$--theme-on-primary: --theme-on-primary;
$--theme-on-secondary: --theme-on-secondary;
$--theme-on-tertiary: --theme-on-tertiary;
$--theme-on-surface: --theme-on-surface;

// Default dark theme
$theme-map-dark: (
  // Primary backgrounds
  $--theme-background:   #04080F,  // deep navy
  $--theme-surface:      #0B1321,  // slightly lighter surface

  // Accent colors
  $--theme-primary:      #E01A4F,  // your highlight red
  $--theme-secondary:    #F2F3D9,  // muted slate
  $--theme-tertiary:     #C11742,  // darker variant of highlight

  // Text colors on those backgrounds
  $--theme-on-primary:   #F2F3D9,  // your main text color
  $--theme-on-secondary: #F2F3D9,
  $--theme-on-tertiary:  #F2F3D9,
  $--theme-on-surface:   #E01A4F   // pop your hisghlight on surface
);
$theme-map-light: (
  $--theme-background:   #F2F2F2,
  $--theme-surface:      #afd3fd97,

  $--theme-primary:      #0B4B6F,
  $--theme-secondary:    #3A3A3A,
  $--theme-tertiary:     #4D869C,

  $--theme-on-primary:   #F2F2F2,
  $--theme-on-secondary: #F2F2F2,
  $--theme-on-tertiary:  #F2F2F2,
  $--theme-on-surface:   #0B4B6F  // refined readable text
);


